.home {
    width: 100vw;
    min-width: 1130px;
    background-color: #f5f5f5;
    
    .home__top {
        position: relative;
        z-index: 1000;
        height: 70px;
        box-sizing: border-box;
        background: #242424;
        border-bottom: 1px solid #000;
        .home__top__content{
            margin: 0 auto;
            width: 1100px;
            display: flex;
            align-items: center;
            height: 100%;
            .home__top__content__logo {
                background: url(../asset/logo.png) no-repeat 0 9999px;
                width: 176px;
                height: 69px;
                background-position: 0 0;
            }
            .home__top__content__menu {
                display: flex;
                height: 100%;
                font-size: 15px;
                .home__top__content__menu__every{
                    float: left;
                    padding:0 19px ;
                    color:#ccc;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                }
                .home__top__content__menu__every--selected{
                    color:#fff;
                    background-color: #000;
                }
            }

        }
        
    }
    .home__carousel{
        .home__carousel__item{
            background:#ccc;
            .home__carousel__item__img{
                margin: 0 auto;
                width: 730px;
            }
        }
    }

    
}
.every{
    height: '160px';
    color: '#fff';
    line-height: '160px';
    text-align: 'center';
    background: '#364d79';
}

