// @font-face {
//   font-family: "iconfont";
//   src: url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.woff2') format('woff2');
// }

// @font-face {
//   font-family: 'iconfont';
//   /* project id 1220751 */
//   src: url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.eot');
//   src: url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.eot?#iefix') format('embedded-opentype'),
//     url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.woff2') format('woff2'),
//     url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.woff') format('woff'),
//     url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.ttf') format('truetype'),
//     url('//at.alicdn.com/t/font_1220751_309qxlbl0ui.svg#iconfont') format('svg');
// }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.rightArrow::after {
    content: "\e6a1";
  }
}


.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.home__top {
  position: relative;
  z-index: 1000;
  height: 70px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;

  .home__top__content {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    align-items: center;
    height: 100%;

    .home__top__content__logo {
      background: url(./asset/logo.png) no-repeat 0 9999px;
      width: 176px;
      height: 69px;
      background-position: 0 0;
    }

    .home__top__content__menu {
      display: flex;
      height: 100%;
      font-size: 15px;

      .home__top__content__menu__every {
        float: left;
        padding: 0 19px;
        color: #ccc;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

      }

      .home__top__content__menu__every--selected {
        color: #fff;
        background-color: #000;
      }
    }

  }

}